@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  /* Primary */
  --color-red-500: hsl(10 79% 65%);
  --color-blue-300: hsl(186 34% 65%);

  /* Neutral */
  --color-brown-950: hsl(25 47% 15%);
  --color-brown-400: hsl(28 10% 53%);
  --color-red-100: hsl(26 66% 93%);

  /* Typography */
  --font-dm-sans: "DM Sans", sans-serif;
}

body {
  font-family: var(--font-dm-sans);
  background-color: var(--color-red-100);
}